@model Categorias

@{
    ViewData["title"] = "Editar Categoria";
}


<div class="pagetitle">
    <h1>Categorias</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active">Actualizacion de Categoria</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<br />

<div asp-validation-summary="ModelOnly"></div>

<form asp-action="Editar" asp-controller="Categorias" class="row g-3">


    <input type="hidden" asp-for="id" />

    <div class="col-md-6">
        <label asp-for="nombre" class="form-label"></label>
        <input class="form-control" name="nombre" id="nombre" asp-for="nombre" />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Editar</button>
        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
    </div>

</form>

